*{
    margin:0;
    padding:0;
}

body {
  height: 100%;
  box-sizing:border-box;
  background-color: #E8E8EE
}


/*//// MAIN HEADER STYLING*/

div#header_div {
  font-family: 'Montserrat', sans-serif;
  background: url(images/bg.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  height: 18em;
  background-color: #6A3913;
  color: white;
   text-shadow: 3px 1px 8px rgba(0, 0, 0, 1);
  padding-top: 2em;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

div#header_div h2 {
  color: #00B3E6;
  font-family: 'Montserrat', sans-serif;
}

div#header_div p {
    font-size: 1.1em;
}

img#my_pic {
   box-shadow: 0px 1px 12px rgba(0, 0, 0, 1);
   margin-right: 1em;
}

/*//// MAIN DIV STYLING*/

div#main_div {
  padding-left: 3em;
  padding-right: 3em;
   box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.8);
  border: none;
}

h2#about_me {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #00B3E6;
}
