<div class="ui raised padded text container segment" id="main_div">
  <h2 class="ui header" id="about_me"><img class="ui avatar image" src="/assets/images/mypic.png" onClick=((alert('Howdy!'))) id="my_pic">About Me</h2>
  <div class="ui divider"></div>
  <p><strong>Hey to all the great people at Gavant!</strong></p>
  <p>
    Since I know you guys like Ember, I decided to create a little Ember app to give you some more information about myself. When in Rome, right?
  </p>
    <p class="subheader">How I Started</p>
  <p>
    I'd like to tell you a bit about how I got to where I'm at now. I taught myself the basics of coding several years back, hacking old computer games to artifically increase their difficulty (Baldur's Gate and Duke Nukem were some of my favorites!).
     Over the past few years, I worked as a hobbyist web designer, creating simple domains with wordpress and drupal for friends & family. Wanting to improve my skills and get to a point where I could create real applications,
     I spent many nights learning C# and JavaScript in Visual Studio. I took several college-level courses on Edx and Khan Academy in my free time to brush up on basic computer science theory.
   </p>
   <p class="subheader">Become a Lawyer?</p>
  <p>See, I originally wanted to become a lawyer, so I studied politics and communication at Binghamton University. Not exactly a standard web develper's degree, I know! However, while preparing for my LSAT, I found myself spending <em>lots</em> of time creating JavaScript functions to solve the formulaic logic puzzles I was coming across.
    Of course, being the novice that I was, my algorithms only really worked for the easiest of questions. Still - I fell in love with functional programming and the process of trying to solve puzzles with code.
    After a year of study, I took the LSAT and recieved a terrific score - good enough to put me in direct contact with Tier 1 recruiters. Despite having the opportunity to go to some of the best law schools in the world, I chose to pursue my passion in programming instead.
  </p>
   <p class="subheader">Flatiron School!</p>
  <p>
    I completed a curriculum with one of the best coding schools in the country, the Flatiron School, which greatly bolstered my knowledge of Web Development across the stack. I had strong coding fundamentals prior to starting this curriculum, but Flatiron gave me <em>practical</em> knowledge working with real projects.
    What I <em>can</em> state is that I'm highly motivated, bright-minded, and hard-working. There isn't a single language, framework, or theory that I'm incapable of learning, and I'm <em>constantly</em> pushing myself to acquire new skills. I've just recently started reading books on Elixir, for instance!
  </p>
    <p class="subheader">Made with Ember</p>
  <p>
    I'm a focused, diligent worker with a sincere, time-tested love for programming. All I ask is for an opportunity to prove my value and work alongside your awesome team!
    I created this little webpage using Ember.js, because I know that's what your team is most comfortable with. I want you guys to know that I'll push myself to master any and every framework or library as needed. If nothing else, I'm <em>very</em> adaptable.
  </p>
    <p class="subheader">Thanks, Everyone!</p>
  <p>
    Thank you for your time and consideration! Your company has so many of the things I'm looking for in my job search, and I can't imagine a better place to commit myself and my work. 
  </p>
  <div class="ui divider"></div>
</div>

{{outlet}}
