<div id="header_div">
  <h2>
     &lt; Michael_Djurdjevic / &gt;</h2>
     <div class="ui divider"></div>
  <h2>So Why Hire Me?</h2><br/>
  <p>I know how hard it can be to find the right people to work with.</p>
  <p> I'd like to tell you a little bit
    about myself, in the hopes that you can see some of what makes me a special candidate.
  </p>
</div>

<div id="nav_menu">
  <span>
  {{#link-to "about" }}
      <span class="nav_text"><i class="hand peace icon"></i>About Me</span>
  {{/link-to}}
  {{#link-to "resume" }}
    <span class="nav_text"><i class="file text outline icon"></i>Resume</span>
  {{/link-to}}
    <span class="nav_text"><a href='http://mdjurdj.com/'><i class="newspaper icon"></i>Blog</a></span>
    <span class="nav_text"><a href='http://www.github.com/mdjurdj1'><i class="github icon"></i>Github</a></span>
  </span>
</div>

{{outlet}}
