
<div class="ui raised very padded text container segment" id="main_div">
  <h2 class="ui header"> &lt; Michael_Djurdjevic / &gt;</h2>
  <h3>So Why Hire Me?</h3>
  <p>I understand how hard it can be to find the right people to work with. I'd like to tell you a little bit
    about myself, in the hopes that you can see some of what makes me a special candidate.
  </p>
</div>

{{outlet}}
