
<div id="main_div">
  <h2>
    <!-- <img class="ui avatar image" src="/assets/images/mypic.png" id="my_pic"> -->
     &lt; Michael_Djurdjevic / &gt;</h2>
     <div class="ui divider"></div>
  <h2>So Why Hire Me?</h2><br/>
  <p>I understand how hard it can be to find the right people to work with.</p>
  <p> I'd like to tell you a little bit
    about myself, in the hopes that you can see some of what makes me a special candidate.
  </p>
</div>

{{outlet}}
